body {
    background-color: black;
    color: white;
    font-family: 'Fira Code', monospace;
}

.navbuttons {
    text-align: center;
}

.share {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans';
    font-size: 15px;
    padding: 2px;
    align-items: baseline;
    stroke-opacity: 25%;
    padding-inline: 20px;
}

.share a {
    background: rgb(105, 104, 104);
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    display: inline-block;
    margin: 10px 10px;
    padding: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Karantina";
    font-size: 30px;
}

.share a:hover {
    background: #FFF;
    border: 1px solid white;
    color: black;
    animation: ease;
    font-family: "Karantina";
}

.name {
    color: white;
    border: 2px solid white;
    text-align: center;
    font-family: "Karantina";
    font-size: 30px;
    padding: 2px;
}

.para {
    color: white;
    text-align: left;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}

.links {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}
